{% extends 'application/base.html' %}
{% load static %}

{% block title %}Home Feed{% endblock %}

{% block content %}
    <br>
    <div class="container">
    <div class="d-flex justify-content-center">
        <h1>Discover Memories</h1>
    </div>
    <div class="d-flex justify-content-end">
        <a href="{% url 'create_post' %}" class="btn btn-primary create-post-button">Create Memory</a>
    </div>

        {% for post in posts %}

            <div class="card shadow mb-4" style="border-radius: 1rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title mb-2">{{ post.title }}</h5>
                        <h6 class="text-muted">{{ post.location.name }}</h6>
                    </div>
                    <p class="card-text">{{ post.content }}</p>
                    {% if post.image %}
                        <img class="img-fluid rounded" src="{{ post.image.url }}" alt="Post Image">
                    {% endif %}

                    <!-- Display Comments -->
                    {% for comment in post.comment_set.all %}
                        <div class="mt-3 bg-light p-3 rounded">
                            <strong>{{ comment.user.username }}</strong>
                            <p>{{ comment.text }}</p>
                            <small>{{ comment.date_created }}</small>
                        </div>
                    {% empty %}
                        <p>No comments yet.</p>
                    {% endfor %}

                    <!-- Comment Form -->
                    <div class="mt-3">
                        <form action="{% url 'submit_comment' post.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-8">
                                    <textarea name="text" class="form-control" rows="2" placeholder="Add a comment..."></textarea>
                                </div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-block btn-sm">Add Comment</button>
                                </div>
                            </div>
                        </form>

                        <!-- Like Form -->
                        <div class="mt-2">
                            <form action="{% url 'like_post' post.pk %}" method="post">
                                {% csrf_token %}
                                {% if request.user.profile in post.likers.all %}
                                    <button type="submit" class="btn btn-primary">Liked</button>
                                {% else %}
                                    <button type="submit" class="btn btn-outline-primary">Like</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Display the number of likes -->
                <div class="card-footer">
                    <div class="text-right">
                        {{ post.likers.count }} likes
                    </div>
                    <div class="text-left">
                        <p class="text-muted">{{ post.date_created }}</p> <!-- Display post creation date -->
                    </div>
                </div>
            </div>

        {% endfor %}
</div>
{% endblock %}
