{% extends 'application/base.html' %}
{% load static %}

{% block title %}Home Feed{% endblock %}

{% block content %}
    <br>
    <div class="d-flex justify-content-center">
        <h1>My Stream</h1>
    </div>
    <div class="d-flex justify-content-end">
        <a href="{% url 'create_post' %}" class="btn btn-primary create-post-button">Create Post</a>
    </div>
    <div class="d-flex justify-content-center flex-column">
        {% for post in posts %}
            <div class="card my-3 post-card">
                <div class="card-body">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="Post Image" class="img-fluid">
                    {% endif %}
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <div class="d-flex">
                        <button class="btn btn-secondary btn-sm comment-button">Comment</button>
                    </div>
                    <div>
                        <form action="{% url 'like_post' post.pk %}" method="post">
                            {% csrf_token %}
                            {% if  request.user.profile in post.likers.all %}
                                <button class="btn btn-primary btn-sm like-button">Like</button>
                            {% else %}
                                <button type="submit" class="btn btn-primary btn-sm like-button"> Unlike </button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
