{% extends 'application/base.html' %}

{% block title %}Home Feed{% endblock %}

{% block content %}
    <h1>Home Feed</h1>
    <a href="{% url 'create_post' %}" class="btn btn-primary create-post-button">Create Post</a>
    <hr>
    {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post Image" class="img-fluid">
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
